<mat-card class="bio-info-card">
  <mat-nav-list>

    <h2 mat-header>Family</h2>

    <mat-list-item>
      <h3 matLine>
        <strong class="link">Onwe Christainonwe</strong> &nbsp;
        <small>Primary</small>    
      </h3>

      <span>01/01/2018</span>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <h3 matLine>
        <strong class="link">Onwe Charles</strong> &nbsp;
        <small>Child</small>    
      </h3>

      <span>01/06/2018</span>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-nav-list> 
</mat-card>

<mat-card class="bio-info-card">
  <mat-nav-list>

    <h2 mat-header>Groups</h2>
    <mat-list-item>
      <h3 matLine>
        <strong class="link">Choir</strong>
      </h3>

      <span>01/01/2018</span>
      <mat-divider></mat-divider>
    </mat-list-item>

    <mat-list-item>
      <h3 matLine>
        <strong class="link">Instrumentalist</strong>
      </h3>

      <span>02/05/2018</span>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-nav-list> 
</mat-card>

<mat-card class="bio-info-card">
  <mat-nav-list>

    <h2 mat-header>Note</h2>
    <mat-list-item>
      <h3 matLine>
        <button mat-icon-button>
          <mat-icon color="primary">note_add</mat-icon>
        </button>
      </h3>

      <span>01/01/2018</span>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-nav-list> 
</mat-card>

<mat-card class="bio-info-card">
  <mat-nav-list>

    <h2 mat-header>Documents</h2>
    <mat-list-item>
      <h3 matLine>
        <mat-icon color="primary">insert_drive_file</mat-icon>
      </h3>

      <span>01/01/2018</span>
      <mat-divider></mat-divider>
    </mat-list-item>

  </mat-nav-list> 
</mat-card>
  
