// .sidenav-container {
//   height: 100%;
// }

// .sidenav {
//   width: 250px;
// }

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
// }

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;    
}

.main-nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%  !important;
  z-index: 5;
}


.mat-icon-active mat-icon {
  transition: color 0.2s linear;
  color: #333 !important;
}
.nav-category-open {
  transition: color 0.2s linear;
  color: #333 !important;
}

.nav-list-item:hover {
  cursor: pointer;
  background:#c5c5c5;
}

.nav-list-item-text {
  padding-left: 18px;
  font-size: 1em;
  padding-top: 6px;
}

.nav-list-icon {
  margin-left: 5px;
  font-size: 70px;
}

mat-toolbar {
  height:  64px !important;
  min-height: 64px !important;

  mat-toolbar-row {
    height: 64px !important;
  }
}


mat-toolbar .user-menu { 
  width: 40px;       
  padding-right: 95px;
  border-right: 2px solid rgba(17, 17, 17, 0.288);
}

mat-toolbar .user-menu button {
  height: 100%;
  width: 100%;
}

mat-toolbar .user-menu button img {
  padding-right: 10px;
}
