<div [@fadeInRight]="fadeInRight" class="add-category">
  <button mat-raised-button color="primary" routerLink="/giving-categories">
    <mat-icon></mat-icon>
    Add a Category
  </button>
</div>

<div [@fadeIn]="fadeIn" class="article">
  <p>
    The batch total should be the the sum of all the individual giving entries.
  </p>

  <p>
    After initially clicking in the first "Member" box, you can fully navigate 
      from the keyboard. Use "TAB" to move to the next field, and, once you, 
      exhaust the visible rows, tab to the "Add 10 more lines" link and hit enter.   
  </p>

  <p>Search for each person whose giving you need to enter. If you dont find them, add them as an individual in a new tab and then, search again, or choose "Anonymous".</p>

  <mat-divider></mat-divider>
</div>