<app-breadcrum [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-breadcrum>

<mat-card>

  <div class="actions">
    <button mat-raised-button color="primary" routerLink="/visitors-registration/{{ visitorId }}">
      <mat-icon>edit</mat-icon>
      <span>Edit Profile</span>
    </button> &nbsp;

    <button mat-raised-button color="warn" (click)="deleteProfile()">
      <mat-icon>delete</mat-icon>
      <span>Delete Record</span>  
    </button>
  </div>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>person</mat-icon> &nbsp;
        <span>Bio Information</span>
      </ng-template>

      <div class="spc-10"></div>

      <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">
        <div fxFlex="35"  fxFlexOrder.xs="1">
          
          <app-visitor-profile-bio></app-visitor-profile-bio> 

        </div>

        <div fxFlex="65" fxFlexOrder.xs="2">
          
         <app-visitor-profile-bio-ext></app-visitor-profile-bio-ext>

        </div>
      </div> 
      
    </mat-tab>
  </mat-tab-group>
</mat-card>


