<mat-card class="card-wrapper">
  <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxFlexAlign.lt-sm="center center"> -->
  <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">

    <div fxFlex="24" fxFlexOrder.xs="1">
      <div class="flex-details">
        <h3>Filter by Name</h3>
        <mat-form-field fxFlex.sm="style='font-size:10px;'">
          <span matPrefix>
            <mat-icon>search</mat-icon> &nbsp;
          </span>
          <input matInput #query (keyup)="search(query.value)" [(ngModel)]="searchQry" name="searchQuery" placeholder="Search Family...">
          <button mat-button *ngIf="searchQry" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchField()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    
    <div fxFlex fxFlexOrder.xs="2">
      <div class="flex-details margin-20">

        <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

        <mat-nav-list>
          <mat-list-item *ngIf="filteredFamily$">
            <mat-divider></mat-divider>
            <h3 matLine>  
              <strong>                  
                {{ filteredFamily$?.length }} record(s) found.
              </strong>
            </h3>
          </mat-list-item>
          <mat-list-item *ngFor="let family of filteredFamily$" routerLink="/family-profile/{{ family.id }}" >
            <mat-divider></mat-divider>
            <img matListAvatar src="../../../../assets/avatars/avatar4.png" alt="...">
            <h3 matLine> 
              <strong>                  
                {{ family.name }}'s family                 
              </strong>
            </h3>

            <button mat-icon-button>
              <mat-icon color="primary">search</mat-icon>
            </button>

          </mat-list-item>
        </mat-nav-list>

<!-- 
        <ng-template #noImageAvatar>
          <img matListAvatar src="../../../assets/avatar/avatar1.png" alt="...">
        </ng-template> -->

      </div>
    </div>
    
    <div fxShow.lt-lg="false" fxShow="true" fxFlex="20">
    <!-- <div fxFlex="20" fxFlexOrder.xs="3"> -->
      <div class="flex-details">

        <div style="background-color: #e6e6e6e6">
          <mat-list dense>
            <mat-list-item>
              <mat-icon matListIcon>mail_outline</mat-icon>             
              <h3 matLine> Email family </h3>
            </mat-list-item>         
            <mat-list-item>
              <mat-icon matListIcon>import_export</mat-icon>
              <h3 matLine> Export </h3>
            </mat-list-item>         
          </mat-list>
        </div>

      </div>  
    </div>

  </div> 
  
</mat-card>
  