
<mat-card>
  <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">

    <div fxFlex="50" fxFlexOrder.xs="1">

      <div class="form-field-container">

        <mat-form-field>
          <input type="text" placeholder="Group Name">
        </mat-form-field>
          
        <mat-form-field>
          <textarea placeholder="Description"></textarea>
        </mat-form-field>
  
        <mat-form-field>
          <input type="text" placeholder="Address">
        </mat-form-field>
  
        <mat-form-field>
          <input type="text" placeholder="State">
        </mat-form-field>
  
        <mat-form-field>
          <input type="text" placeholder="City">
        </mat-form-field>
  
        <mat-form-field>
          <input type="text" placeholder="Meeting Days">
        </mat-form-field>
  
        <mat-form-field>
          <input type="text" placeholder="Time">
        </mat-form-field>

      </div>

    </div>

  </div>
</mat-card>
