.form-field-container {
    display: flex;
    flex-direction: column;
}

.form-field-container > * {
    width: 100%;
}

.card-wrapper {
    display: 100%;
    margin: 20px;
}

//expansion panel
.example-headers-align .mat-expansion-panel-header-title, 
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.submit-button {
    text-align: right;
    margin-bottom: 20px;
}

mat-form-field {
    margin: 7px 0 7px 0;
}

mat-radio-button {
    margin: 5px;
}
