<mat-list>

  <mat-list-item>
    <mat-icon matListIcon color="primary">person</mat-icon>
    <span matLine>
      <strong>
        Gender
      </strong>
    </span>

    <span>{{ person.gender }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>

  <h2 mat-header>Phones</h2>
  <mat-list-item>
    <mat-icon matListIcon color="primary">phone_iphone</mat-icon>
    <h3 matLine>
      <strong>
        Mobile
      </strong>
    </h3>

    <span>{{ person.contact?.mobilePhone1 }} <br> {{ person.contact?.mobilePhone2 }}</span>
  </mat-list-item>

  <mat-list-item>
    <mat-icon matListIcon color="primary">phone</mat-icon>
    <h3 matLine>
      <strong>
        Home
      </strong>
    </h3>

    <span>{{ person.contact?.homePhone }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>


  <h2 mat-header>Email</h2>
  <mat-list-item>
    <mat-icon matListIcon color="primary">email</mat-icon>
    <h3 matLine>
      <strong>
        <a class="email-address" href="{{ person.contact?.email }}" target="_blank"> {{ person.contact?.email }} </a>
      </strong>
    </h3>
    <mat-divider></mat-divider>
  </mat-list-item>

  <h2 mat-header>Dates</h2>
  <mat-list-item>
    <mat-icon matListIcon color="primary">date_range</mat-icon>
    <h3 matLine>
      <strong>
        Birth Date
      </strong>
    </h3>

    <span>{{ person.dob }}</span>
    <mat-divider></mat-divider>
  </mat-list-item>

</mat-list>
