.form-field-container {
    display: flex;
    flex-direction: column;
}

.form-field-container > * {
    width: 100%;
}

mat-card mat-form-field {
    // margin: 0 10px 20px 0;
    // width: calc(95% / 4);
    width: calc(90% / 4);
}

mat-card-actions {
    text-align: right;
}