
<!-- <pre>{{giving | json}}</pre> -->

<form #f="ngForm">

  <div class="form-field-container">

    <mat-form-field>
      <span matPrefix> <mat-icon>date_range</mat-icon> &nbsp; </span>
      
      <input matInput [matDatepicker]="picker" [(ngModel)]="giving.givingDate" name="givingDate" placeholder="Giving Date"
        (dateChange)="givingDateEvent($event)" disabled>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker touchUi="true" disabled="false"></mat-datepicker>
      
      <mat-hint>Giving Date Format: mm/dd/yyyy</mat-hint>
      <mat-hint align="end">Click toggle button to select date!</mat-hint>

      <mat-error>
        A valid <strong>Giving Date</strong> is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </div>

  <div class="spc-20"></div>


  <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">

    <div fxFlex fxShow.lt-sm="false" fxShow="true" fxFlexOrder.xs="1">
      <mat-card> 
        <!-- <h3 mat-subheader>Giving Record</h3> -->

        <mat-card-actions>
          <button type="button" mat-raised-button color="primary" (click)="onSubmit()">Add Record</button>
        </mat-card-actions> 

        <div>

          <mat-form-field>
            <input type="text" placeholder="Search..." aria-label="Number" matInput [formControl]="myPersonControl" name="person" [matAutocomplete]="auto" required>
            <!-- <button type="button" mat-button *ngIf="myPersonControl" matSuffix mat-icon-button aria-label="Clear" (click)="clearAutoCompleteField()">
              <mat-icon>close</mat-icon>
            </button> -->
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn.bind(this)">
              <mat-option *ngFor="let p of filteredOptions | async" [value]="p.id">
                {{p.fullname}}
              </mat-option>
            </mat-autocomplete>

            <mat-error>
              Person is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select [(ngModel)]="giving.data.category" name="category" placeholder="Category" required>
              <mat-option value="">--None--</mat-option>
              <mat-option *ngFor="let category of categories$" [value]="category.Id">{{ category.name }}</mat-option>
            </mat-select>
            <mat-error>
              Category is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input type="number" matInput [(ngModel)]="giving.data.amount" name="amount" placeholder="Amount" required>
            <mat-icon matPrefix>attach_money</mat-icon>
            <mat-error>
              Amount is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [(ngModel)]="giving.data.notes" name="notes" placeholder="Notes">
            <mat-icon matPrefix>notes</mat-icon>
            <mat-hint>Cheque number or 'CASH'</mat-hint>
          </mat-form-field>

          <!-- <button type="button" mat-icon-button color="warn" (click)="resetInput()">
            <mat-icon>cancel</mat-icon>
          </button> -->

          <div class="spc-10"></div>
  
          <mat-divider></mat-divider> 
          
          
          
          <mat-list>
            <mat-list-item *ngFor="let giving of peopleGivings">
              <!-- <h3 matLine> {{ giving.data.person }} </h3> -->
              <h3 matLine> 
                <strong>{{ getPersonDetails(giving.data.person) }}</strong>  
              </h3>
              <p matLine>
                <span> {{ getCategoryDetails(giving.data.category) }} </span>
                <span class="demo-2"> -- {{ giving.givingDate.toDate() | date:'longDate' }} </span>
              </p>      
              <p matLine>                
                Amount --<strong> {{ giving.data.amount | currency }}</strong> 
              </p>
              
              <button type="button" mat-icon-button color="primary" matTooltip="Edit record" (click)="editGivingRecord(giving.Id)">
                <mat-icon>border_color</mat-icon>
              </button>

              <button type="button" mat-icon-button color="warn" matTooltip="delete record" (click)="deleteGivingRecord(giving.Id)">
                <mat-icon>delete</mat-icon>
              </button>

              <mat-divider></mat-divider> 
            </mat-list-item>
          </mat-list>

          <!-- <p mat-subheader *ngIf="sumTotalAmount && givingBatch">
            <mat-icon color="primary">warning</mat-icon> &nbsp;
            Note: Always verify that the subtotal, &nbsp; <strong>{{ sumTotalAmount | currency }}</strong> &nbsp; <strong>equals</strong> &nbsp; the batch total &nbsp; <strong>({{ givingBatch.batch.amount }})</strong>.
          </p> -->
          <p mat-subheader *ngIf="givingBatch?.batch?.amount &&  (sumTotalAmount == givingBatch?.batch?.amount)">
            <mat-icon color="primary">check</mat-icon> &nbsp;
            the subtotal, &nbsp; <strong>{{ sumTotalAmount | currency }}</strong> &nbsp; <strong>equals</strong> &nbsp; the batch total &nbsp; <strong>({{ givingBatch?.batch?.amount | currency }})</strong>.
          </p>
          
          <p mat-subheader *ngIf="givingBatch && (sumTotalAmount < givingBatch?.batch?.amount)">
            <mat-icon color="accent">report</mat-icon> &nbsp;
            The subtotal, &nbsp; <strong>{{ sumTotalAmount | currency }}</strong> &nbsp; <strong>is lesser</strong> &nbsp; than the batch total &nbsp; <strong>({{ givingBatch?.batch?.amount | currency }})</strong>.
          </p>

          <p mat-subheader *ngIf="givingBatch && (sumTotalAmount > givingBatch?.batch?.amount)">
            <mat-icon color="warn">warning</mat-icon> &nbsp;
            The subtotal, &nbsp; <strong>{{ sumTotalAmount | currency }}</strong> &nbsp; <strong>is greater</strong> &nbsp; than the batch total &nbsp; <strong>({{ givingBatch?.batch?.amount | currency }})</strong>.
          </p>
          
          <ul style="margin-top: 0;">
            <li *ngFor="let sum of peopleGivingSummary">
              {{ getCategoryDetails(sum.category) }}: &ngsp;
              <strong>{{ sum.totalAmount | currency }}</strong> 
            </li>
          </ul>
          

        </div>    
      </mat-card>   
    </div>

    <div fxShow.lt-sm="true" fxShow="false">
      <h3 mat-subheader> Sorry! You can only enter giving records from a larger display :(</h3>
    </div>
  
  </div>

</form>
