.image_upload {
    text-align: center;
    margin-bottom: 20px;
}

// .profile-image {   
//     // border: 2px solid white;
//     // border-radius: 120px;   

//     border: 1px solid white; /* Gray border */     
//     border-radius: 130px;  /* Rounded border */     
//     padding: 1px; /* Some padding */     
//     width: 100px; /* Set a small width */ 
// }

// .profile-image:hover {     
//     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); 
// }

.dropzone {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 80px;
    border: 2px dashed #f16624;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }

    mat-icon {
        color: #dadada;
        font-size: 50px;
        margin-bottom: 20px;
    }
}

mat-progress-bar::-webkit-progress-value {
    transition: width 0.1s ease;
}



.gallery {
    max-width: 290px; 
    max-height: 350px;
    margin: 0 10px 20px 10px;
    overflow: hidden;

    img {
        width: 290px;    
        height: 250px;
    }
}

mat-card-content .imgBox {
    position: relative;
    text-align: center;

    img {
        background-size: cover;
    }
}

mat-card-content img {
    transition: transform 2s;    
}

mat-card-content .imgBox:hover img {
    transform: scale(1.2);
}

.grid-container {
    margin: 5px;
    // display: inline-flex;
    // flex-direction: row;
}
  
.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
  
.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

