<mat-card>
  <div [@fadeInRight]="fadeInRight">
      
    <form #f="ngForm">
      <div class="image_upload">
        
        <div class="dropzone" 
          appDropZone
          (hovered)="toggleHover($event)"
          (dropped)="upload($event)"
          [class.hovering]="isHovering">
      
          <!-- <h3>Drop Zone</h3> -->
          <mat-icon>cloud_upload</mat-icon>
          <input type="file" multiple (change)="upload($event.target.files)">
        </div>

      </div>
    </form>

    <div *ngIf="uploadService.percentage | async as prog">

      <mat-progress-bar  mode="determinate" [value]="prog" max="100"></mat-progress-bar> 
      {{ prog | number }}%   

    </div>   

    <div *ngIf="(uploadService.snapshot | async) as snap">
      ({{ snap.bytesTransferred  | fileSize }} of {{ snap.totalBytes | fileSize }})    
    
      <div class="spc-10"></div>
      <mat-divider></mat-divider>
    
      <button mat-raised-button color="primary" (click)="uploadService.uploadTask.resume()" [disabled]="!(snap?.state === 'paused')">Resume</button>
      <button mat-raised-button color="accent" (click)="uploadService.uploadTask.pause()" [disabled]="!isActive(snap)">Pause</button>
      <button mat-raised-button color="warn" (click)="uploadService.uploadTask.cancel()" [disabled]="!isActive(snap)">Cancel</button>
          
    </div>

  </div>

  
  <div [@zoomInDown]="zoomInDown" class="grid-container">
    <mat-grid-list *ngIf="(isHandset$ | async); else largeDisplay"  cols="4" rowHeight="350px">

      <app-loading-spinner *ngIf="uploadService.snapshot | async"></app-loading-spinner>

      <mat-grid-tile *ngFor="let gry of gallery" colspan="4" rowspan="1">
        <mat-card class="dashboard-card parent">
          <mat-card-header>
            <mat-card-title>
              {{gry.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="imgBox">
              <img class="child" mat-card-image [src]="gry.url" alt="...">
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <ng-template #largeDisplay>

    <mat-grid-list cols="4" rowHeight="350px">
      <!-- <mat-grid-tile *ngFor="let gry of gallery" [colspan]="cards.colspan" [rowspan]="cards.rowspan"> -->
      <mat-grid-tile *ngFor="let gry of gallery" colspan="1" rowspan="1">
        <mat-card class="dashboard-card parent">
          <mat-card-header>
            <mat-card-title>
              {{gry.title}}
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="imgBox">
              <img class="child" mat-card-image [src]="gry.url" alt="...">
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </ng-template>
 
</mat-card>

