.card-wrapper {
    display: 100%;
    margin: 20px;
}

.margin-20 {
    margin: 11px 20px 20px 20px;
}

.add-new {
    text-align: right; 
}

.flex-details { 
    display: flex;
    flex-direction: column;
}

// .people-list {
//     height: 100px;
// }

.example-container {
    display: flex;
    flex-direction: column;
}

.example-container > * {
    width: 100%;
}

// mat list
.mat-list .mat-list-item.mat-3-line, 
.mat-list .mat-list-option.mat-3-line, 
.mat-nav-list .mat-list-item.mat-3-line, 
.mat-nav-list .mat-list-option.mat-3-line, 
.mat-selection-list .mat-list-item.mat-3-line, 
.mat-selection-list .mat-list-option.mat-3-line {
    height: 200px;
}