<app-breadcrum [pageTitle]="pageTitle" [pageIcon]="pageIcon"></app-breadcrum>

<mat-card class="card-wrapper">
  <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxFlexAlign.lt-sm="center center"> -->
  <div fxLayout="row" fxLayout.xs="column" fxFlexAlign="center center">

    <div fxFlex="24" fxFlexOrder.xs="1">
      <div [@fadeIn]="fadeIn" class="flex-details">
        <h3>Filter by Name</h3>
        <mat-form-field fxFlex.sm="style='font-size:10px;'">
          <span matPrefix>
            <mat-icon>search</mat-icon> &nbsp;
          </span>
          <input matInput #query (keyup)="search(query.value)" [(ngModel)]="searchQry" name="searchQuery" placeholder="Search People...">
          <button mat-button *ngIf="searchQry" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchField()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    
    <div fxFlex fxFlexOrder.xs="2">
      <div class="flex-details margin-20">

        <section>
          <div [@fadeInRight]="fadeInRight" class="add-new">
            <a mat-raised-button color="primary" (click)="addGroupMembers()">
              <mat-icon color="primary">group_add</mat-icon> &nbsp;
              Add Group Members
            </a>
          </div>
        </section>

        <mat-nav-list>
          <mat-list-item [@fadeInDown]="fadeInDown" *ngIf="filteredPeople?.length > 0">
            <mat-divider></mat-divider>
            <h3 matLine>  
              <strong>                  
                {{ filteredPeople?.length }} record(s) found.
              </strong>
            </h3>
          </mat-list-item>

          <div *ngIf="filteredPeople?.length < 1"> 
            <p>
              No record found :(
            </p>
          </div>

          <app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

          <mat-list-item [@fadeIn]="fadeIn" *ngFor="let person of filteredPeople">
            <!-- <mat-divider></mat-divider> -->
            <img *ngIf="person.avatar; else noImageAvatar" matListAvatar [src]="person.avatar?.url" [alt]="person.data.firstname">
            <!-- <img matListAvatar src="../../../../assets/avatars/avatar4.png" alt="..."> -->
            <h3 matLine> 
              <strong>                  
                {{ person.data.surname }} 
                {{ person.data.firstname }}                
              </strong>
            </h3>
            <p matLine>
              {{ person.data.othernames }} - {{ person.role }}
            </p>

            <button mat-icon-button matTooltip="Edit Role" (click)="editPersonRole($event, person)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button  *ngIf="editState && roleToEdit.id == person.id" 
              mat-icon-button 
              matTooltip="Close"
              (click)="clearEditState()">
              <mat-icon color="warn">close</mat-icon>
            </button>
            
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon color="primary">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/people-profile/{{ person.id }}/profile-bio">
                <mat-icon color="primary">person</mat-icon>
                <span>View Profile</span>
              </button>

              <mat-divider></mat-divider>

              <button mat-menu-item (click)="deleteFromGroup(person.id)">
                <mat-icon color="warn">cancel</mat-icon>
                <span>Remove From Group</span>
              </button>
            </mat-menu>

            <div matLine *ngIf="editState && roleToEdit.id == person.id">
              <div class="spc-5"></div>
              <form #f="ngForm">

                <div class="example-container">
                  <mat-form-field>
                    <mat-select placeholder="Member Role" [(ngModel)]="roleToEdit.role" name="role">
                      <mat-option *ngFor="let role of roles" [value]="role.value">
                        {{ role.displayName }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                <button mat-raised-button color="primary" (click)="updateMemberRole()">Update</button>

              </form>
            </div>
          </mat-list-item>
        </mat-nav-list>        

        <ng-template #noImageAvatar>
          <img matListAvatar src="../../../../assets/avatars/avatar4.png" alt="..."> &nbsp; &nbsp;
        </ng-template>

      </div>
    </div>
    
  </div> 
  
</mat-card>
